/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #B8D0DE;
  margin: 0 auto;
  text-align: center;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #063940;
  font-size: 32px;
}

p, a, li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  line-height: 150%;
  color: #063940;
} 

.images {
  display: block;
  width: 300px;
  text-align: center;
  margin: 50px auto;
}

.images img {
  height: 250px;
  width: 200px;
  float: left;
  margin: 0 50px;
}

.images p {
  margin-bottom: 20px;
}


#main {
  margin: 0 auto;
}

.title {
  font-size: 64px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #063940;
}

.desc {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #063940;
}

.login {
  margin-top: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  background-color: #6792AB;
  height: 60px;
}

nav ul li{
  display: inline;
  margin: 0 20px;
  line-height: 220%;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
}

nav ul li a:hover {
  opacity: 0.7;
}

input {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 20%;
}

h1.ng-binding {
  margin-top: 50px;
}

.list {
  display: block;
  max-width: 600px;
  margin: 50px auto;
}

.list-item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px 50px;
  border: 1px solid #000;
}

.list-item a {
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

.fb-login-button {
  margin-top: 50px;
}

input.radio_hidden {
  display: none;
}

label.label_seats {
  font-size: 24px;
  padding: 10px;
  margin-top: 30px;
}

input[type="radio"]:checked+label{ 
  background-color: black;
  color: white;
}

input.depart_date, input.depart_time {
  font-size: 20px;
  width: 100%;
  max-width: 250px;
}

.submit-button {
  background-color: #6792AB;
  color: #FFF;
  border: none; 
  font-size: 24px;
  width: 100%;
  max-width: 250px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.seating h1, .depart-time h1 {
  font-size: 48px;
}

.seat-number {
  margin: 30px auto;
}

.seating, .depart-time {
  margin-top: 50px;
  margin-bottom: 50px;
}

.depart-minutes {
  margin-top: 30px;
}

.depart-minutes label {
  font-size: 32px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.five-minutes, .ten-minutes, .fifteen-minutes {
  margin-top: 20px;
}

.join {
  margin: 100px auto;
}

.join h1, .join h2 {
  font-size: 48px;
  margin-top: 20px;
}

.join img {
  height: 200px;
  width: 200px;
}

/*MOBILE*/
@media only screen and (max-width: 40em) { 

  nav ul li{
    display: inline;
    margin: 0 10px;
    line-height: 200%;
  }

  .images img {
    height: 150px;
    width: 200px;
  }

  input.depart_date, input.depart_time {
    font-size: 20px;
  }

}