<section id="main">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/offer">Drive Somebody</a></li>
      <li><a href="/search">Catch a Ride</a></li>
    </ul>
  </nav>

  <h1>{{locationData.from}} to {{locationData.to}}</h1>

  <div class="list">
    <ul>
      <li class="list-item" ng-repeat="slug in slugData">
        <a ng-href="#" ng-click="joinSlug(slug._id, slug.number_of_people)">
          {{slug.number_of_people}} Seats Available
        </a>
      </li>
    </ul>
  </div>
</section>
