<section id="main">
  <div class="login">
    <h1 class="title">Slug With Friends</h1>
    <h1>To get started, sign up with Facebook!</h1>
    <div class="arrow">&#8617;</div>
  </div>
</section>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      console.log('connected');
      console.log(response.authResponse.accessToken);
      console.log(response.authResponse.userID);
    }
    else {
      console.log('not logged in');
      FB.login();
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '905205639542365',
      cookie     : true,  // enable cookies to allow the server to access
      version    : 'v2.3' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };
</script>
