<section id="main">
  <nav>
    <ul>
      <li><a href="#/home">Home</a></li>
      <li><a href="#/offer">Offer A Ride</a></li>
      <li><a href="#/search">Search for A Ride</a></li>
    </ul>
  </nav>
  <div class="home">
    <img src="/static/images/home.svg">
  </div>
  <div class="shop">
    <img src="/static/images/shop.svg">
  </div>
  <div class="school">
    <img src="/static/images/school.svg">
  </div>
  <div class="work">
    <img src="/static/images/work.svg">
  </div>
  
</section>
