<section id="main">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/offer">Offer A Ride</a></li>
      <li><a href="/search">Search for A Ride</a></li>
    </ul>
  </nav>
  <div class="images">
    <div class="shop">
      <img src="/static/images/shop.svg">
      <p>Mall</p>
    </div>
    <div class="school">
      <img src="/static/images/school.svg">
      <p>School</p>
    </div>
    <div class="work">
      <img src="/static/images/work.svg">
      <p>Work</p>
    </div>
    <div class="movies">
      <img src="/static/images/movies.svg">
      <p>Movies</p>
    </div>
  </div>
  
</section>
