<section id="main">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/offer">Drive Somebody</a></li>
      <li><a href="/search">Catch a Ride</a></li>
    </ul>
  </nav>
  <div class="ride">
    <form>
      <div class="seating">
        <h1>Available Seats</h1>
        <input type="number" class="depart_time" ng-model="seats" min="1" max="18">


      </div>
      <div class="depart-time">
        <h1>Departing On</h1><br>

        <select ng-model="dayofweek" convert-to-number class="dayofweek">
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thrusday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
        </select>

        <h1>at</h1><br>

        <label>Hour</label>
        <input type="number" class="depart_time" ng-model="hour" min="1" max="23">
        <label>Minute</label>
        <input type="number" class="depart_time" ng-model="minute" min="0" max="59">

        <br><br><h1>Route:</h1><br>

        <select ng-model="chosenRoute" ng-options="route.name for route in routes" class="routes">
        </select>


      </div>
      <input class="submit-button" type="button" value="Submit" ng-click="submit()">
    </form>
  </div>
</section>
