<section id="main">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/offer">Offer A Ride</a></li>
      <li><a href="/search">Search for A Ride</a></li>
    </ul>
  </nav>
  <script>
    $('body').scope().getLocations();  // fetch data immediately
                  // want to call controller function
  </script>

  <div class="list">
    <ul>
      <li ng-repeat="location in locationData">
        {{location.from}} to {{location.to}}
      </li>
    </ul>
  </div>
</section>
