<section id="main">
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/offer">Drive Somebody</a></li>
      <li><a href="/search">Catch a Ride</a></li>
    </ul>
  </nav>

  <div class="list">
    <ul>
<!--       <li class="list-item" ng-repeat="location in locationData">
        {{location.from}} to {{location.to}} -->
      <li class="list-item" ng-repeat="location in locationData">
        <a ng-href="/location/{{location._id}}">
          {{location.from}} to {{location.to}}
        </a>
      </li>
    </ul>
  </div>
</section>
